* {
    box-sizing: border-box;
}

html{
  font-size: 100%;
}

body{
  font-size: 1em;
  padding: 0;
  margin: 0;
  background: #b18c82;
  text-align: center;
  font-family: 'helvetica', sans-serif;
}

.main{
  width: 9*5em;
  height: 9*5em;
  display: inline-block;
  #home{
    border: none;
    opacity: 0;
    margin-top: 1em;
    margin-bottom: 3em;
  }
  i{
    padding: 2.4em 1.1em 1em 0.6em;
  }
  .p2{
    color: white;
  }
  .p1{
    color: black;
  }
}

.cRow{
  display: flex;
}
.numberMarkerL{
  float: left;
  margin-top: 6em;
  margin-bottom: 0em;
}
.numberMarkerR{
  float: right;
  margin-top: 6em;
  margin-bottom: 0em;
}
.NMark{
  width: 5em;
  height: 5em;
  margin: -4px;
}
.letterMarkerT{
  display: flex;
}
.letterMarkerB{
  display: flex;
  margin-top: 2.5em;
  padding-top: 1em;
}
.LMark{
  width: 5em;
  height: 5em;
  display: inline-block;
  margin: -2em -4px;
}

.box{
  padding-top: 0.5em;
  padding-right: 0.1em;
  background-color: #62b7d1;
  margin: -4px;
  width: 5em;
  height: 5em;
  display: inline-block;
  border: 1px solid black;
}
.boxx{
  padding-top: 0.5em;
  padding-right: 0.1em;
  background-color: #b7d162;
  margin: -4px;
  width: 5em;
  height: 5em;
  display: inline-block;
  border: 1px solid black;
}

#forwardMove{
  margin: 0 1em;
  box-shadow: -5px 2.5px 1px 0px black;
  background-color: #62b7d1;
  border-radius: 50%;
  border: 2px solid white;
  i{
    margin: .5em;
  }
}
#backwardMove{
  @extend #forwardMove;
  box-shadow: 5px 2.5px 1px 0px black;
}
#backwardAll{
  @extend #backwardMove;
}
#forwardAll{
  @extend #forwardMove;
}

.buttons{
  position: absolute;
  bottom: 3%;
  right: 40%;
  cursor: pointer;
  :focus{
    outline: none;
  }
}
